# Shearwater WPS

The Shearwater WPS is designed to perform detection and forecast of tropical-cyclone activities.

* GitHUB repo: https://github.com/climateintelligence/shearwater
* Docs: https://shearwater.readthedocs.io/en/latest/

In [1]:
from birdy import WPSClient

In [2]:
# connect to shearwater WPS

url = "https://shearwater1.cloud.dkrz.de/wps"
wps = WPSClient(url, verify=False)

In [3]:
# show available processes

help(wps)

Help on WPSClient in module birdy.client.base:

<birdy.client.base.WPSClient object>
    A WPS for forecasting ctropical-cyclone activities.

    Processes
    ---------

    cyclone
        A process to forecast tropical cyclone activities.

In [4]:
# show details of cyclone process

help(wps.cyclone)

Help on method cyclone in module birdy.client.base:

cyclone(start_day='2022-01-01', end_day='2022-01-31', area='Sindian') method of birdy.client.base.WPSClient instance
    A process to forecast tropical cyclone activities.

    Parameters
    ----------
    start_day : string
        Enter the start date, like 2021-01-01
    end_day : string
        Enter the end date, like 2023-10-12
    area : {'Sindian', 'TBD'}string
        Choose the region of your interest

    Returns
    -------
    output_csv : ComplexData:mimetype:`text/csv`
        csv file

In [5]:
# run cyclone

resp = wps.cyclone(start_day="2019-01-04", end_day="2019-01-05", area="Sindian")
resp.status

'ProcessSucceeded'

In [6]:
# show all outputs

resp.get()

cycloneResponse(
    output_csv='https://shearwater1.cloud.dkrz.de:443/outputs/shearwater/05a290fe-3304-11ef-b198-fa163e86d05a/prediction_Sindian.csv'
)

In [7]:
# show the result with pandas

import pandas as pd

result_url = resp.get()[0]

df = pd.read_csv(result_url)
df

     Unnamed: 0  latitude  longitude        time  predictions_lag0
0        380016       0.0       20.0  2019-01-04          0.000010
1        380017       0.0       22.5  2019-01-04          0.000006
2        380018       0.0       25.0  2019-01-04          0.000008
3        380019       0.0       27.5  2019-01-04          0.000014
4        380020       0.0       30.0  2019-01-04          0.000015
..          ...       ...        ...         ...               ...
749      380765     -30.0       80.0  2019-01-05          0.000099
750      380766     -30.0       82.5  2019-01-05          0.000047
751      380767     -30.0       85.0  2019-01-05          0.000020
752      380768     -30.0       87.5  2019-01-05          0.000020
753      380769     -30.0       90.0  2019-01-05          0.000053

[754 rows x 5 columns]